.carousel-container {
  width: 100%; /* Tamaño deseado del contenedor */
  overflow: hidden; /* Ocultar el desbordamiento */
  position: relative; /* Permitir que los elementos hijos sean posicionados con respecto a este contenedor */
  height: 200px; /* Altura deseada del contenedor */
}

.carousel-content {
  display: flex; /* Hacer que el contenido sea un contenedor flexible */
  animation: carouselAnimation 15s linear infinite; /* Aplicar animación horizontal */
}

.carousel-item {
  flex: 0 0 auto; /* Hacer que los elementos del carrusel no se ajusten al tamaño del contenedor */
  margin-right: 10px; /* Espacio entre elementos */
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(-100%); /* Comienza sin desplazamiento horizontal */
  }
  100% {
    transform: translateX(100%); /* Desplazamiento horizontal completo hacia la izquierda */
  }
}