.hide-indicators .carousel-indicators {
  display: none;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  gap: 20px;
  animation: carouselAnimation 30s linear infinite;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 1;
  margin: 0 10px;
}

img {
  max-width: 200px;
  height: auto;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} 