<div class="picsum-img-wrapper">
  <div class="carousel-container">
    <ngb-carousel
      [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators"
      class="carousel"
    >
      <ng-template ngbSlide>
        <div class="d-flex justify-content-center align-items-center">
          <div class="carousel-content">
            <img
              *ngFor="let logo of logos"
              [src]="logo.url"
              [alt]="logo.name"
              style="max-width: 100%; margin-right: 10px;"
            />
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>