<!-- app/carousel/carousel.component.html -->
<div class="__container">
  <div class="image-container" id="imageContainer">
    <div
      class="image-wrapper scroll-animation"
      *ngFor="let image of images"
      (mouseenter)="isMouseEnterEnabled ? onImageHover($event) : null"
    >
      <img [src]="image.src" class="gallery-image" [alt]="image.alt" />
      <div class="content" style="z-index: -1">
        <button
          #closeButton
          class="close-button btn-close"
          (click)="closeButtonClicked($event)"
        ></button>
        <!-- <div class="card bg-transparent text-center"> -->
        <div class="card bg-transparent">
          <!-- <div class="card-header">Featured</div> -->
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              quia minus nesciunt expedita aspernatur vitae omnis. Et neque
              voluptate at praesentium maxime reprehenderit, non magnam deserunt
              magni dolorum, mollitia iste.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          <!-- <div class="card-footer text-muted">2 days ago</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
