<div
  style="
    background-image: url('assets/images/components/big-carousel/paisajeWEBLARGA.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="carousel">
    <ngb-carousel
      [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators"
      class="carousel"
    >
      <ng-template ngbSlide >
        <div class="d-flex justify-content-center align-items-center carousel-container" [ngClass]="{ 'tracking-in-expand': selectedLogo }">
          <div class="carousel-content"  *ngFor="let logo of logos; let i = index" [ngClass]="{ 'fade-in': logo.selected, 'carousel-animation': animation }" >
            <img
              [src]="logo.url"
              [alt]="logo.name"
              class="carousel-img"
              *ngIf="!logo.selected"
              (click)="onImageClick(logo, i)"
            />
            <div  *ngIf="logo.showText">
              <h2>Contenido del elemento {{ logos.index + 1 }}</h2>
              <p>{{ logo?.title }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>